@page
@model IndexModel
@{
    ViewData["Title"] = "Violin Lessons";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Quality Lessons at a low price of $50 per month</p>
</div>
